<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PRO301 - Guía N8</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../assets/css/style.css" />

    <!-- bootstrap CDN  -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
      integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
      crossorigin="anonymous"
    />
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
      integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>

    <!-- css responsive -->
    <link rel="stylesheet" href="../assets/css/mobile.css" />

    <!-- script -->
    <script src="../assets/js/app.js"></script>
  </head>
  <body>
    <!-- Encabezado (header) -->
    <header class="bg-primary text-white text-center py-2">
      <h1>PRO301 - Guía N8</h1>
      <h5>
        <a
          href="https://github.com/luiguivinci/PRO301-900-Guia-N8"
          class="btn btn-dark"
          >Repositorio en GitHub</a
        >
      </h5>
      <p class="font-weight-bolder">Luigui N. Vinci</p>
    </header>

    <!-- Contenido Principal (main) -->
    <main class="container my-5">
      <h2>Contenido Principal</h2>
      <p>Ejercicio 7</p>

      <!-- Parte 1 (section) -->
      <section class="my-5">
        <h3>Formulario con validaciones</h3>
        <p></p>

        <h5>Arreglo:</h5>
        <input id="inputNumeroMayor1" class="input-group" />
        <button id="btnImprimirNumeroMayor1" class="btn btn-primary mt-3 mb-2">
          Mostrar número mayor
        </button>
        <h5>resultado:</h5>
        <input id="outputNumeroMayor1" class="input-group" readonly />
      </section>
    </main>

    <!-- Pie de Página (footer) -->
    <footer class="bg-dark text-white text-center py-3">
      <p>
        &copy; Developed by
        <a href="https://github.com/luiguivinci" target="_blank"
          ><b id="devTag">Luigui N. Vinci</b></a
        >
        All rights reserved<b id="actualYear"> | 2023</b>
      </p>
    </footer>
  </body>
</html>
